@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,300;9..40,400&family=Space+Grotesk:wght@400;500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Space Grotesk", sans-serif;
}

.navigation {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation li {
  display: inline-block;
  margin: 0 5px;
  font-size: 18px;
  transition: opacity 0.3s ease; /* Adding transition for smooth effect */
}

.navigation li:hover {
  opacity: 0.5; /* Reduce opacity on hover */
}

.navigation li:hover ~ li {
  opacity: 0.5; /* Mute other items when hovering one */
}

.navigation li:hover,
.navigation li:hover ~ li:hover {
  opacity: 1; /* Keep opacity at full for the hovered item */
}
